@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  /* font-family: sans-serif; */
  text-align: center;
}

.style1 {
  color: red;
}

.style2 {
  font-size: 10rem;
}

.Header {
  color: rgb(78, 78, 78) !important;
}
.dark {
  color: orange !important;
}

.active {
  text-decoration: underline;
}

body {
  background-color: #101012;
  color: white;
  font: normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 50px;
  margin: 0 auto;
}

h1 {
  font-family: "Fredoka One", cursive;
  color: #15d880;
  font-size: 2.9rem;
  font-weight: 100;
}

h2 {
  font-weight: 400;
}

.msg {
  background-color: #292929;
  display: block;
  padding: 20px 20px 20px 10px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 400px;
  margin: 0 auto;
}

.btn {
  font-family: "Fredoka One", cursive;
  background-color: #6bbe92;
  /* width: 302px; */
  border: 0;
  padding: 10px;
  margin: 5px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.2);
}

.btn:focus {
  outline: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 15px;
  background: white;
  padding: 10px;
  color: grey;
}
